// Kigra Core Site SASS Base Config
//
// Version 0.3 - 2024-07
//
// _base.scss
//
// Part of standard set of SASS base config being used across the
// Kigra Enterprise websites.
//
//
@import 'reset';
// import site specific variables for color, font, etc.
@import 'site-defaults';
@import 'sitevars-default';
@import 'sitevars';
@import 'utils';

// Setup basic page config
html {
    background: $site-site-bkg-color;
    font-size:  $font-base-txt-size;
    color:      $font-base-txt-color;
}

p, a {
        text-decoration: none;
        font-family:     $font-base-font-stack;
    }

body {
    width:       100%;
    min-height:  100vh;
    font-size:   1.0rem;
    line-height: 1.5;
    margin:      0;
    padding:     0;
    display:     grid;
    grid-template-rows: auto 1fr auto;
}

header {

    display:         flex;
    flex-direction:  row;
    flex-wrap:       nowrap;

    #site-logo {
        flex: 1 0 auto;
        text-align: center;
    }
}

@import 'menu';

main {

    display:         flex;
    flex-direction:  row-reverse;
    flex-wrap:       wrap;
    align-content:   flex-start;

    article, section {
        max-width: clamp($site-main-width-min, $site-main-width-tgt, $site-main-width-max);
        padding:   $site-main-padding;
        margin:    auto;
        flex:      3 0;
    }
    
    aside {
        //flex: 0 0 300px;
        flex:      1 0;
    }
}

footer {
}

@import 'colors-n-fonts';

aside {
    ul {
        li {
            time {
                display: table;
            }
        }
    }
}

code {
    font-family: Palatino, Georgia, serif;
    font-size:   1.5em;
}
