// Kigra Core Site SASS Base Config
//
// Version 0.3 - 2024-07
//
// _base.scss
//
// Part of standard set of SASS base config being used across the
// Kigra Enterprise websites.
//
//
@import 'reset';
// import site specific variables for color, font, etc.
@import 'sitevars-default';
@import 'sitevars';
@import 'utils';

// Setup basic page config
html {
    background: $site-main-bg-clr;
    font-size:  $font-base-txt-size;
    color:      $font-base-txt-color;
}

p, a {
        text-decoration: none;
        font-family:     $font-base-font-stack;
    }

body {
    width:       100%;
    min-height:  100vh;
    font-size:   1.0rem;
    line-height: 1.5;
    margin:      0;
    padding:     0;
}
header {

    display:         flex;
    flex-direction:  row;
    flex-wrap:       nowrap;

    #site-logo {
        flex: 1 0 auto;
    }

}

main {

    display:         flex;
    flex-direction:  row-reverse;
    flex-wrap:       wrap;

    article {
        max-width: clamp($site-main-width-min, $site-main-width-tgt, $site-main-width-max);
        padding:   $site-main-padding;
        margin:    auto;
        flex: 0 0;
    }
    
    aside {
        flex: 0 0 300px;
    }
}


@import 'menu';

