// sections color & font

body {
    background:  $site-site-bkg-color;
    color:       $site-site-txt-color;
    font-family: $site-site-txt-font;

    header {
        background:  $site-hdr--bkg-color;
        color:       $site-hdr--txt-color;
        font-family: $site-hdr--txt-font;

        #site-logo {

            #site-title {
                font-style:   normal;
                font-weight:  800;
                font-size:    1.8rem;
                font-variant: small-caps;
            }

            #site-subtitle {
                font-style:  italic;
                font-weight: 600;
                font-size:   1.0rem;;
            }
        }
        
        nav {
            background:  $site-hdr--bkg-color;
            color:       $site-hdr--txt-color;
            font-family: $site-hdr--txt-font;
        }
    }

    main {
        background:  $site-main-bkg-color;
        color:       $site-main-txt-color;
        font-family: $site-main-txt-font;

        article {
            background:  $site-artl-bkg-color;
            color:       $site-artl-txt-color;
            font-family: $site-artl-txt-font;

            h1 {
                font-size: 1.5rem;
                font-weight: 900;
                text-align: center;
            }
            h2 {
                font-size:  1.0rem;
                font-weight: bold;
                text-align: left;
                margin:     1lh 5vw 0;
            }
            h3 {
                font-size: 1.0rem;
                font-style: italic;
                margin:     1lh 5vw 0;
            }
            h4 {
                font-size: 1.0rem;
                font-weight: bold;
                text-decoration: underline;
                text-indent: 5ch;
                margin:      0.5lh auto 0;
            }
        }

        aside {
            background:  $site-asde-bkg-color;
            color:       $site-asde-txt-color;
            font-family: $site-asde-txt-font;

            section {

                //p {
                //    font-weight: bold;
                //    font-style: italic;
                // }
                
                ul li {
                    p, time {
                        font-weight: normal;
                        font-style: italic;
                        text-indent: 2ch;
                    }
                }
            }
        }
    }

    footer {
        background:  $site-ftr--bkg-color;
        color:       $site-ftr--txt-color;
        font-family: $site-ftr--txt-font;
    }
}

