<aside>
  <section>
    <h2 id="recent-posts">Recent Additions</h2>
    <ul>
      {{ range first 5 (.Site.RegularPages.ByDate.Reverse) }}
      <li>
        <a href="{{ .RelPermalink }}">{{- .Title -}}</a>
        {{- partial "site-time.html" . }}
        {{- with .Params.categories }}
        {{- range . -}}
        <p class="category">{{ . }}</p>
        {{- end -}}
        {{- end -}}
      </li>
      {{- end -}}
    </ul>
  </section>
  <section>
    <h2 id="tags">Tags</h2>
    <ul>
      {{ range .Site.Taxonomies.tags.ByCount }}
      <li>
        <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}
      </li>
      {{ end }}
    </ul>
  </section>
</aside>
